<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="My Test Suite">

    <test name="My Test">
        <classes>
            <class name="src._12_XML_File.SenerioTrendyol"/>
            <class name="src._12_XML_File.SenerioTest"/>
        </classes>
    </test>
</suite>